body{
  background-color: #0C0C0C;
  color: beige;
}
.el{
  border: 1px dotted white;
  margin: 1px 1px 1px 1px;
  width: 22px;
  height: 22px;
}
.el:hover{
  border: red 1px dotted;
}
#items{
  display: grid;
  grid-template-columns: repeat(16,28px);
  margin-right: 3em;
}
#map{
  display: grid;
  grid-template-columns: repeat(45,26px);
}
#app{
  display: flex;
}
h5{
  font-size: larger;
  text-align: center;
}
#cover{
  display: none;
  background-color: yellow;
  opacity: 10%;
  position: absolute;
  z-index: 3;
}
.item{
  background-image: url('sprites.png');
  background-size: 800px 500px;
  background-repeat: no-repeat;
}
.checked{
  border: 1px dotted red;
}
.notChecked{
  border: 1px dotted white;
}
.right{
  float: right;
}
.left{
  text-align: left;
}
dialog{
  padding: 0;
  width: 250px;
  border: 1px solid black;
  background-color: white;
  border: none;
  outline: none;
}
dialog div{
  border: 1px solid black;
  padding: 5px 2px;
}
dialog div:hover{
  background-color: lightgrey;
}
